@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ead3e4;
  --color-text: #191332;
  /* --color-primary: #2563eb;
  --color-secondary: #4f46e5;
  --color-accent: #f59e0b; */
}

.dark {
  --color-background: #191332;
  --color-text: #f3f4f6;
  /* --color-primary: #3b82f6;
  --color-secondary: #818cf8;
  --color-accent: #fbbf24; */
}

@layer components {
  .text-title {
    @apply text-[2.25rem] font-bold;
  }
}

@layer components {
  .text-slogan {
    @apply text-[4rem] font-bold;
  }
}

@layer components {
  .text-subtitle {
    @apply text-[1.5rem] font-bold;
  }
}

@layer components {
  .text-body {
    @apply text-[1rem];
  }
}

@layer base {
  section {
    @apply px-4 py-8;
  }
}