@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ead3e4;
  --color-text: #1f2937;
  /* --color-primary: #2563eb;
  --color-secondary: #4f46e5;
  --color-accent: #f59e0b; */
}

.dark {
  --color-background: #191332;
  --color-text: #f3f4f6;
  /* --color-primary: #3b82f6;
  --color-secondary: #818cf8;
  --color-accent: #fbbf24; */
}