@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ead3e4;
  --color-text: #191332;
  /* --color-primary: #2563eb;
  --color-secondary: #4f46e5;
  --color-accent: #f59e0b; */
}

.dark {
  --color-background: #191332;
  --color-text: #f3f4f6;
  /* --color-primary: #3b82f6;
  --color-secondary: #818cf8;
  --color-accent: #fbbf24; */
}

@layer components {
  .text-title {
    @apply text-[2.25rem] font-bold;
  }
  .text-slogan {
    @apply text-[4rem] font-bold;
  }
  .text-subtitle {
    @apply text-[1.5rem] font-bold;
  }
  .text-body {
    @apply text-[1rem];
  }
}

@layer base {
  section {
    @apply px-4 py-8 lg:px-8;
  }
  body {
    @apply bg-background dark:bg-gray-900 text-text text-body font-jost font-medium;
  }
  input {
    @apply flex-1 px-3 py-2 border-t border-b border-r border-gray-300 rounded-r mb-6;
  }
}

.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-no-spinner {
  -moz-appearance: textfield;
}

