@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ead3e4;
  --color-primary: #3b2d74;
  --color-white : #ffffff;
  --color-secondary: #191332;
  --color-details: #f5d60d;
  --color-tertiary: #9f8bc2;
  --color-quaternary: #3b2d74;
}

.dark {
  --color-background: #191332;
  --color-primary: #9f8bc2;
  --color-secondary: #ead3e4;
  --color-tertiary: #473e57;
  --color-quaternary: #3b2d74;
}

@layer components {
  .text-title {
    @apply text-[2.25rem] font-bold;
  }
  .text-slogan {
    @apply text-[4rem] font-bold;
  }
  .text-subtitle {
    @apply text-[1.5rem] font-bold;
  }
  .text-body {
    @apply text-[1rem];
  }
}

@layer base {
  section {
    @apply px-4 py-8 lg:px-8;
  }
  body {
    @apply bg-background text-white text-body font-jost font-medium;
  }
  input {
    @apply flex-1 px-3 py-2 border-t border-b border-r border-gray-300 rounded-r mb-6;
  }
}

.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-no-spinner {
  -moz-appearance: textfield;
}

