@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff; /* background 1 */
  --color-primary: #e0ecfc; /* text 1 */
  --color-secondary: #98B4F1;
  --color-details: #5263E3;
}

.dark {
  --color-background: #191332;
  --color-primary: #9f8bc2;
  --color-secondary: #ead3e4;
}

@layer components {
  .text-title {
    @apply text-[2.25rem] font-bold;
  }
  .text-subtitle {
    @apply text-[1.5rem] font-bold;
  }
  .text-body {
    @apply text-[1rem];
  }
}

@layer base {
  section {
    @apply px-4 py-8 lg:px-8;
  }
  body, html {
    @apply bg-background text-black text-body font-jost font-medium;
  }
  input {
    @apply flex-1 px-3 py-2 border-t border-b border-r rounded mb-6;
  }
}

.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-no-spinner {
  -moz-appearance: textfield;
}

