name: Deploy Portfolio

on:
  push:
    branches:
      - staging
      - master

jobs:
  deploy-staging:
    if: github.ref == 'refs/heads/staging'
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Configure Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Build and Deploy
        run: npm run deploy
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REACT_APP_SHEET_URL: ${{ vars.REACT_APP_SHEET_URL }}
  deploy-production:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment: production

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Configure Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Print GitHub OIDC subject
        run: |
          echo "SUB: repo:${{ github.repository }}:ref:${{ github.ref }}"

      - name: Debug OIDC Token
        run: |
          # Obtener el token
          curl -sH "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=sts.amazonaws.com" | jq -r '.value' > token.jwt

          # Mostrar partes del token (header, payload)
          echo "Header:"
          cat token.jwt | cut -d'.' -f1 | base64 -d | jq

          echo "Payload:"
          cat token.jwt | cut -d'.' -f2 | base64 -d | jq

      - name: Build
        run: npm run build
        env:
          CI: false
          REACT_APP_SHEET_URL: ${{ vars.REACT_APP_SHEET_URL }}

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::628838486529:role/BastBitManager
          aws-region: ${{ vars.AWS_REGION }}

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      - name: Sync to S3 bucket
        run: aws s3 sync ./build s3://${{ vars.AWS_BUCKET_NAME }} --delete

      - name: Create CloudFront invalidation
        run: aws cloudfront create-invalidation --distribution-id ${{ vars.AWS_CLOUDFRONT_ID }} --paths "/*"
